{% block main %}
  <div id="policy_tables">
    {% if not policy_tables %}
      No tables for this policy.
    {% else %}
      {% if policy_tables.error %}
        <div class="table_header">
          <h3 class="table_title">error</h3>
        </div>
        <div class="clearfix"></div>
        {{ policy_tables.error.render }}
      {% endif %}

      {% for table_name, table in policy_tables.items %}
        {% if table_name != 'error' %}
          <div class="table_header">
            <h3 class="table_title">{{ table_name }}</h3>
          </div>
          <div class="clearfix"></div>
          {{ table.render }}
        {% endif %}
      {% endfor %}
    {% endif %}
  </div>
{% endblock %}
