
[neutron]
module: datasources/neutron_driver.py
username: admin
password: password
auth_url: http://127.0.0.1:5000/v2.0
tenant_name: admin

[nova]
module: datasources/nova_driver.py
username: admin
password: password
auth_url: http://127.0.0.1:5000/v2.0
tenant_name: admin

[keystone]
module: datasources/keystone_driver.py
username: admin
password: password
auth_url: http://127.0.0.1:5000/v2.0
tenant_name: admin

[ceilometer]
module: datasources/ceilometer_driver.py
username: admin
password: password
auth_url: http://127.0.0.1:5000/v2.0
tenant_name: admin
