[neutron]
module: datasources/neutron_driver.py
username: admin
password: password
auth_url: http://127.0.0.1:5000/v2.0
tenant_name: admin

[nova]
module: datasources/nova_driver.py
username: admin
password: password
auth_url: http://127.0.0.1:5000/v2.0
tenant_name: admin

[keystone]
module: datasources/keystone_driver.py
username: admin
password: password
auth_url: http://127.0.0.1:5000/v2.0
tenant_name: admin

[ceilometer]
module: datasources/ceilometer_driver.py
username: admin
password: password
auth_url: http://127.0.0.1:5000/v2.0
tenant_name: admin

[cinder]
module: datasources/cinder_driver.py
username: admin
password: password
auth_url: http://127.0.0.1:5000/v2.0
tenant_name: admin

[swift]
module: datasources/swift_driver.py
username: admin
password: password
auth_url: http://127.0.0.1:5000/v2.0
tenant_name: admin

[glancev2]
module: datasources/glancev2_driver.py
username: admin
password: password
auth_url: http://127.0.0.1:5000/v2.0
tenant_name: admin

#[plexxi]
#module:datasources/plexxi_driver.py
#username: plexxiCore_username
#password: plexxiCore_password
#auth_url: http://PlexxiCoreURL/PlexxiCore/api
#unique_names: False

